[Unit]
Description=Cert Server (Cert Deployer Solution)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/cert-server
ExecStart=/opt/cert-server/cert-server
Restart=always
RestartSec=5s
Environment="PORT=8080"
Environment="DB_PATH=/opt/cert-server/cert-server.db"

[Install]
WantedBy=multi-user.target
